header {
   display:flex;
   flex-direction: column;
   height: 10vh;
   width:100vw;
}  

header ul  {
    background-color: rgb(4, 81, 132);
    display:flex;
    margin:0;
    justify-content:space-around;
    list-style:none; /* supprime les puces*/
    padding: 0;
    flex: 1;
}

header li {
    flex: 1;
}

header li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-family:'Brush Script MT', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li a:hover {
    /*background-color:rgb(52, 6, 132);*/
    color: black;
}

body {
    position: fixed;
    margin: 0;
    padding: 0;
}