header {
   display:flex;
   flex-direction: column;
   height: 10vh;
   width:100vw;
}    

.banner{
    flex:1;
    display: flex;
}
    
.mb1 {
    color:rgb(255, 255, 255);
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-size: 50px;
}

.mb1 h1 {
    padding: 0;
    margin-top: 7vh;
}

header ul  {
    background-color: rgb(4, 81, 132);
    display:flex;
    margin:0;
    justify-content:space-around;
    list-style:none; /* supprime les puces*/
    padding: 0;
    flex: 1;
}

header li {
    flex: 1;
}

header li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-family:'Brush Script MT', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li a:hover {
    /*background-color:rgb(52, 6, 132);*/
    color: black;
}

.bg_img{
    height: 90vh;
    margin: 0;
    padding:0;
}

.img_river{
    width: 100vw;
    height: 90vh;
}

.elt0 {
    position: absolute;
    z-index: 0;
}

.elt1{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.bg_img h1{
    color: white;
    font-size: 5rem;
}

/*
.mainBlocs {
    width: 100%;
    margin-top: 35vh;
}

.mainBlocs p {
    color: white;
}
*/

body {
    
/*
    background-image: url("sunDownTheRiver.jpg");
    background-size: cover;        couvre toute la surface 
    background-position: center;    centrée 
    background-repeat: no-repeat;  empêche la répétition 
*/
    position: fixed;
    margin:0;
    padding: 0;
}

